<div class="header">
    <span class="header-search pull-left">
        <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        <input type="text" (input)="onSearch($event.target.value)" name="global-search-text" placeholder="Search..."/>
    </span>

    <a class="logout pull-right" href="logout"><fa-icon [icon]="faPowerOff" size="lg"></fa-icon></a>
    <span class="header-username pull-right">
        <span class="username-img">{{name | firstLetterWord}}</span>
        <span class="username-text">{{name}}</span>
    </span>
</div>