@import "all";

$input-padding: 20px;
.header {
  background-color: $header-bgcolor;
  height: $header-height;
  line-height: $header-height;
  color: $header-text-color;
  font-size: 14px;
  padding: 0 $input-padding;
  position: fixed;
  left: $main-nav-width;
  top: 0;
  right: 0;
  z-index: 122;
  border-bottom: 4px solid $ma-orange;
  
  .header-search {
    width: $sec-nav-width - $input-padding;
    height: inherit;
    
    input[type='text'] {
      vertical-align: middle;
      background-color: transparent;
      border: 0;
      font-size: 14px;
      color: $header-text-color;
      padding: 0px 6px 3px 6px;
      width: 250px;
      font-family: $base-font;
      
      &:focus {
        outline: none;
      }
    }
    .search-icon {
      font-size: 20px;
      vertical-align: middle;
    }
  }
  .header-username {
    margin-right: 10px;
  }
  
  .logout {
    color: $header-text-color;
    
    i{
      vertical-align: middle;
    }
  }
  
  .username-img {
    vertical-align: middle;
    background-color: $ma-orange;
    width: 28px;
    height: 28px;
    margin-right: 8px;
    border-radius: 50%;
    padding: 6px;
    color: $ma-white;
    font-weight: $semibold-font-weight;
    
  }
  .username-text {
    font-weight: $semibold-font-weight;
  }
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}