//paths
$images-folder:'../../assets';

//Dimensions
$main-nav-width: 60px;
$header-height: 45px;
$sec-nav-width: 400px;
$default-border-radius: 3px;
$pagination-height: 55px;

//Color-palette
$ma-dark-blue: #30363F;
$ma-dark-gray: #5B5C5F;
$ma-medium-gray: #77827C;
$ma-dull-gray:#CCCCCC;
$ma-blue: #2E87C1;
$ma-light-gray: #EEEEEE;
$ma-orange: #EA9448;
$ma-white: #FFFFFF;
$ma-black: #000000;
$ma-light-black: #555555;
$ma-sky-blue : #4A667C;
$ma-nav-bgcolor: #24262A;
$content-bgcolor: #F5F6F7;

$header-bgcolor: $ma-blue;
$header-text-color: $ma-white;

//font
$base-font: "Source Sans Pro",sans-serif;
$regular-font-weight: 400;
$light-font-weight:300;
$semibold-font-weight:600;
$base-font-weight:$regular-font-weight;
$thin-font-weight:200;

$base-font-size:14px;
$font-size-large:24px;
$h1-font-size:32px;
$h2-font-size:24px;
$h3-font-size:18px;
$h4-font-size: $base-font-size;

