body {
  margin: $header-height 0 0 $main-nav-width;
  font-family: $base-font;
  font-weight: 400;
  color: $ma-light-black;
}
a {
  color: $ma-blue;
  &:hover {
    text-decoration: none;
  }
}
.main-content,
.sec-nav {
  position: fixed;
  bottom: 0;
  overflow: auto;
}
.main-content {
  padding: 10px 20px;
  background-color: $content-bgcolor;
  top: $header-height;
  left: $main-nav-width;
  right: 0;
  min-width: 714px; // 1024px - 60px (main-menu) - 250px (sub-menu)
  &.has-sec-nav {
    left: $main-nav-width + $sec-nav-width;
  }
  section,.section{
    background-color: $ma-white;
    border-radius: $default-border-radius;
  }
}

h2{
  &.main-header{
    border-bottom: 1px solid $ma-dull-gray;
    padding: 10px 20px;
  }
}
