
<li [ngClass]="cardData.index === selectedCardIndex ? 'email-item active': 'email-item'" *ngIf="cardData" (click)="onSelectEmail(cardData)">
    <div class="email-item__name" *ngIf="cardData?.from"> {{cardData?.from|ellipsis:30}}</div>
    <div class="email-item__subject" *ngIf="cardData?.subject; else subjectBlank">
        <strong><i [innerHTML]="cardData?.subject | ellipsis:40 | highlightSearch:searchText"></i></strong>
    </div>
    <ng-template #subjectBlank><strong>...</strong></ng-template>
    <div class="email-item__time">{{cardData?.date | date:'short'}}</div>
    <div class="email-item__message">
        <p [innerHtml]="cardData?.body|ellipsis:42|highlightSearch:searchText"></p>
    </div>
</li>