@import 'all';
.email-item{
  position: relative;
  padding: 10px 5px;
  transition: 0.3s;
  cursor: pointer;
  list-style-type: none;
  border-bottom: 1px solid $ma-medium-gray;
  font-family: $base-font;
  &:hover{
    background: $ma-sky-blue;
  } 
  &.active{
    background: $ma-blue;
  }
  .email-item__name{
    color: $ma-light-gray;
  }
  .email-item__subject {
    display: inline-block;
    margin-bottom: 3px;
    font-weight: $regular-font-weight;
  }
  .email-item__time {
    position: absolute;
    right: 5px;
    top: 10px;
    color: $ma-orange;
    font-weight: $semibold-font-weight;
  }
  .email-item__message p {
    margin-bottom: 0;
    color: $ma-dull-gray;
  }
}
