<app-header (searched)="OnSearched($event)"></app-header>
<ul class="sec-nav inbox-container">
    <div class="filter-container">
        <mat-form-field appearance="fill" floatLabel="Filter by:">
            <mat-label><i>Filter/Sort by:</i></mat-label>
            <mat-select [formControl]="filterControl" (selectionChange)="onSelectionChange($event)">
                <mat-option *ngFor="let filterOption of filterOptions" [value]="filterOption">
                    {{filterOption}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ng-container *ngIf="filteredEmailsPerPage?.length>0 else noEmails">
        <app-card *ngFor="let emailCard of filteredEmailsPerPage; trackBy:trackByIndex;" 
            [cardData]="emailCard" 
            (selectEmail)="onSelectEmail($event)" 
            [searchText]="searchText"
            [selectedCardIndex]="selectedEmailIndex">
        </app-card>      
    </ng-container>
    <div class="pagination-container">
        <mat-paginator [length]="paginationResultsCount" 
            [pageSize]="pageSize" 
            [hidePageSize]="true"
            showFirstLastButtons
            (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</ul>

<ng-template #noEmails>
    <div class="text-center no-results-section">
        <div>
            <p><fa-icon class="icon-class" [icon]="faSearch" size="2x"></fa-icon></p>
            <p><strong> We didn't find anything. </strong></p>
            <p><i> Try a different keyword. </i></p>
        </div>
    </div>
</ng-template>

<div class="main-content has-sec-nav" *ngIf="paginationResultsCount>0">       
    <div class="vertical-spacer"></div>
    <div>
        <section class="pull-left full-width">                
            <app-detail [searchText]="searchText"
                [bodyData]="messageBody">
            </app-detail>                
        </section>
    </div>
</div>