@import 'all';

.inbox-container {
    width: $sec-nav-width;
    color: $ma-white;
    background-color: $ma-dark-blue;
    left: $main-nav-width;
    top: $header-height;
    padding: 0 5px;
    user-select: none;
    margin: 0;
    margin-bottom: $pagination-height;
    margin-top: $pagination-height;
}

.no-results-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;

    .icon-class{
        color: $ma-white;
        @include rotate(45deg);
    }
}

.pagination-container{
    position: fixed;
    bottom: 0;
    width: $sec-nav-width;
    border-top: 4px solid $ma-orange;
    margin: 0;
    margin-left: -5px;
    height: $pagination-height;
}

.filter-container{
    position: fixed;
    top: $header-height;
    width: $sec-nav-width;
    margin: 0;
    margin-left: -5px;
    height: $pagination-height;
    background-color: $content-bgcolor;
    display: block;
    mat-form-field{
        float: right;
        outline: none;
        &:active, &:hover{
            outline: none;
        }
        .mat-form-field-wrapper{
            outline: none;
            &:active, &:hover{
                outline: none;
            }
        }
    }
}



