@import 'all';

.message {
    margin: 20px 10px;
    background-color: white;
    height: 100%;
    font-family: $base-font;

    .star{
        color: $ma-dark-gray;
        &.active{
            color: $ma-orange;
        }
    }
    
    pre{
        white-space: pre-wrap;
        word-break: keep-all;
        font-family: $base-font;
    }
    .mes-date {
        color: $ma-dark-gray;
    }
    .message-options{
        color: $ma-dark-gray;
        .mat-icon-button {
            top: -8px;
        }
    }
    .title {
        font-size: 18px;
        font-weight: $semibold-font-weight;
        margin: 5px 0;
    }
    .who{
        font-weight: $semibold-font-weight;
    }
    .message-from {
        color: $ma-dark-gray;
    }
}
.no-detail-section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    
    .icon-class{
        color: $ma-dark-gray;
        @include rotate(45deg);
    }
}
mat-icon{
    margin-right: 10px;
}
