<div class="message" *ngIf="bodyData; else emptySection">
    <div class="message-options pull-right">
        <mat-icon [ngClass]="isActive ? 'star active': 'star'" (click)="toggleStar()" matTooltip="Starred">star</mat-icon>
        <mat-icon (click)="deleteThisMail(bodyData)" class="deleteMail" matTooltip="Delete this Email">delete</mat-icon>
        <mat-icon matTooltip="Print">print</mat-icon>
        
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Email Options">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item 
                *ngFor="let menuOption of emailMenuOptions"
                (click)="handleEmailOption(menuOption)">
                <span>{{menuOption}}</span>
            </button>
        </mat-menu>
    </div>
    <div class="mes-date">
        {{bodyData.date | date:'medium'}}
    </div>

    <div class="title" [innerHTML]="bodyData.subject | highlightSearch:searchText"></div>
    <div class="from">
        <span class="who">From: </span>{{bodyData.from}}
    </div>
    <div class="from" *ngIf="bodyData.to && bodyData.to.length > 0">
        <span class="who">To: </span>{{bodyData.to?.join(', ')}}
    </div>
    <div class="from" *ngIf="bodyData.cc && bodyData.cc.length > 0">
        <span class="who">CC: </span>{{bodyData.cc?.join(', ')}}
    </div>
    <div class="from" *ngIf="bodyData.bcc && bodyData.bcc.length > 0">
        <span class="who">BCC: </span>{{bodyData.bcc?.join(', ')}}
    </div>
    <hr>
    <div class="message-from">
        <!-- <pre>{{bodyData.body | linkify}}</pre> -->
        <pre [innerHTML]="bodyData.body | linkify | highlightSearch:searchText"></pre>
    </div>
</div>
<ng-template #emptySection>
    <div class="text-center no-detail-section">
        <div>
            <p><fa-icon class="icon-class" [icon]="faEnvelope" size="3x"></fa-icon></p>
            <p><strong> Select an item to read. </strong></p>
            <p><i> Nothing is selected </i></p>
        </div>
    </div>
</ng-template>