<div class="main-nav navbar-left">
    
    <a href="/inbox">
        <div class="mail-app-title">
            <span class="title-green">Mail</span><span class="title-blue">App</span>
        </div>
    </a>
    
    <ul class="main-nav-list">
        <li>
            <a routerLink="/compose" routerLinkActive="active"><fa-icon [icon]="faPlusCircle"></fa-icon>Compose</a>
        </li>
        <li>
            <a routerLink="/inbox" routerLinkActive="active"><fa-icon [icon]="faInbox"></fa-icon>Inbox</a>
        </li>
        <li>
            <a routerLink="/sent" routerLinkActive="active"><fa-icon [icon]="faPaperPlane"></fa-icon>Sent</a>
        </li>
        
        <li>
            <a routerLink="/drafts" routerLinkActive="active"><fa-icon [icon]="faPencilAlt"></fa-icon> Drafts</a>
        </li>
        
        <!-- <li>
            <a routerLink="/outbox" routerLinkActive="active"> <fa-icon [icon]="faSignOutAlt"></fa-icon>Outbox</a>
        </li> -->
        
        <li>
            <a routerLink="/deleted" routerLinkActive="active"><fa-icon [icon]="faTrash"></fa-icon>Deleted</a>
        </li>

        <li class="settings">
            <a><fa-icon [icon]="faCog"></fa-icon>Settings</a>
        </li>
    </ul>
</div>