@import 'all';
.main-nav {
    width: $main-nav-width;
    background-color: $ma-nav-bgcolor;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    a {
      text-decoration: none;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      border-left: 2px solid transparent;
      text-align: center;
      font-size: 11px;
      border-top: 1px dotted $ma-dark-gray;
      a {
        color: $ma-dark-gray;
        display: block;
        padding: 5px 0;
        &.active, &:hover {
          background-color: $ma-dark-blue;
          color: $ma-white;
        }
        &.active {
          border-color: $ma-blue;
        }
      }
      fa-icon {
        display: block;
        font-size: 22px;
        margin-bottom: 4px;
      }
      &.settings{
        position: fixed;
        bottom: 0;
        width: $main-nav-width;
      }
  
    }
    a {  
      div {
        padding: 10px 5px;
      }
    }
  
  }
  .mail-app-title {
    height: 85px;
    margin-top: 90px;
    margin-left: 28px;
    font-size: 24px;
    font-weight: 500;
    @include rotate(270deg);
  
  
    .title-green {
      color: #4CAB47;
    }
  
    .title-blue {
      color: #3F85C1;
    }
  }
  