/* You can add global styles to this file, and also import other style files */
@import 'all';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: $base-font;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.full-width{
    width:100%;
}
.half-width {
    width:50%
}
.vertical-spacer {
    clear: both;
    height: 20px;
}
.highlight{
    color: $ma-orange;
    background: $ma-dull-gray;
    font-weight: $semibold-font-weight;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
