@import 'all';

.compose-container {
    .card{
        border: none !important;
        border-radius: 5px;
    }
    left: $main-nav-width;
    top: $header-height + 10px;
    padding: 0 5px;
    user-select: none;
    margin: 0 auto;
    width: 80%;
    position: relative;
    overflow: auto;
    overflow-y: scroll;
    display: block;
    z-index: 1;

    .title {
        font-size: 18px;
        font-weight: $semibold-font-weight;
        margin: 15px 0;
    }

    mat-form-field {
        width: 100%;
    }

}
