<app-header></app-header>

<div class="compose-container">
    <form class="card" [formGroup]="composeMailForm">
        <div class="title pt-2 text-center">Compose Email</div>
        <div class="row">
            <div class="col col-md-8 offset-md-2">
                <mat-form-field appearance="legacy">
                    <input matInput type="email" placeholder="To" formControlName="to" ngDefaultControl autofocus/>
                </mat-form-field>
            
                <div class="text-right"> 
                    <mat-checkbox class="mr-4" ngDefaultControl [formControl]="ccField">CC</mat-checkbox>
                    <mat-checkbox ngDefaultControl [formControl]="bccField">BCC</mat-checkbox>
                </div>
                <div *ngIf="ccField.value">
                    <mat-form-field appearance="legacy">
                        <input matInput type="email" placeholder="CC" ngDefaultControl formControlName="cc"/>        
                    </mat-form-field>
                </div>
                <div *ngIf="bccField.value">
                    <mat-form-field appearance="legacy">
                        <input matInput type="email" placeholder="BCC" ngDefaultControl formControlName="bcc"/>        
                    </mat-form-field>
                </div>
                
                <mat-form-field appearance="legacy">
                    <input matInput type="text" placeholder="Subject" ngDefaultControl formControlName="subject"/>        
                </mat-form-field>
            
                <mat-form-field appearance="legacy">
                    <textarea matInput placeholder="Message Body" rows="5" ngDefaultControl formControlName="body"></textarea>
                </mat-form-field>

                <button mat-raised-button class="mr-4 save-drafts" (click)="saveInDrafts()"> Save in Drafts </button> 

                <button type="submit" 
                    mat-raised-button color="primary"
                    class="submit-mail"
                    [disabled]="!composeMailForm.valid" 
                    (click)="submitMail()"> 
                    Send 
                </button>
            </div>
        </div>        
</form>
</div>
